spring:
  datasource:
    url: jdbc:mysql://localhost:3306/mercury_pas?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
    open-in-view: false
  jackson:
    serialization:
      write-dates-as-timestamps: false

server:
  port: 8080

app:
  security:
    jwt:
      secret: "replace-with-a-secure-256-bit-secret-value"
      expiration-ms: 3600000

logging:
  level:
    org.springframework.security: INFO
    org.hibernate.SQL: INFO

